KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/[realm]/protocol/openid-connect/token
KEYCLOAK_CLIENT_ID=khode-api
KEYCLOAK_RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n[replace-your-here]\n-----END PUBLIC KEY-----"